{{#resume.basics}}
    {{#if summary}}
        <div class="container summary-container">
            {{> title value="Summary"}}
            <div class="summary">
                {{{markdown summary}}}
            </div>
        </div>
    {{/if}}
{{/resume.basics}}